@import '../../colors.scss';
@import '../../commons.scss';

.SingleResult {
    display: block;
    text-align: left;
    color: $ml-dark-grey;
}

%DisplayImg {
    @extend %DisableSelection;
    border-radius: 4px;
    margin: 16px;
    float: left;
}

.Thumbnail {
    @extend %DisplayImg;
}

.ImgPlaceholderSmall {
    @extend %DisplayImg;
    width: 90px;
    height: 90px;
    background-color: $ml-background;
}

.ImgPlaceholderBig {
    @extend %DisplayImg;
    width: 180px;
    height: 180px;
    background-color: $ml-background;
}

.Address {
    font-size: 12px;
    margin-top: 48px; 
}

.Price {
    font-size: 24px;
    margin-top: 32px;
    color: black;
    white-space: nowrap;
    .PriceDecimals {
        font-size: 12px;
        position: absolute;
        margin: 2px;
    }
}

.Title {
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 16px;
    margin-right: 32px;
    color: black;
}

.FreeShipping {
    vertical-align: bottom;
    margin-bottom: 4px;
    margin-left: 4px;
}