@import "../colors.scss";
@import "../commons.scss";

.SearchResults {
    background-color: $ml-background;
}

.Flex {
    display: flex;
    overflow: hidden;
}

.ItemsContainer {
    @extend %RoundedContainer;
}

.Separator {
    height: 1px;
    background: $ml-background;
    margin-right: 20px;
    margin-left: 20px;
}
